.pagina-centrada{
   margin-top: 50px;
  }
  .letra{
    margin-top: -730px;
    color: white;
    text-align: center;
    margin-left: 11px;
    font-size: xxx-large;
    font-family: revert;
  }
  .contenido{
    margin-top: 650px;
    
   
}

.botonContenedor{
  margin-top: 1px;
  margin-left: -305px;
}

.div{
  
  margin-left: 125px;
  margin-top: 650px;

}