<ion-content force-overscroll="false">
  <gl-background-video src="assets/video/bg.mp4.mp4"></gl-background-video>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center" class="pagina-centrada">
      <ion-col  sizeXs="12" sizeSm="12" sizeMd="12" sizeXl="12" class="ion-text-center"  > 
        <div>
          <ion-card-title color="light">- A P M I -</ion-card-title> 
        </div>
      </ion-col>
    </ion-row>
 </ion-grid> 

<ion-grid class="contenido">
  <ion-row class="ion-justify-content-center" >
    <ion-col  sizeXs="12"  sizeLg="4" class="redes" class="ion-text-center">
      <div  >
          <ion-button size= "large" color="success" shape="round" fill="outline" [routerLink]="['/principal']"> INGRESAR</ion-button> 

      </div>
    </ion-col>
  </ion-row>
  </ion-grid>      

</ion-content>


