
  <ion-content padding>
  <img src="assets/img/logo-2.png"/>




    <ion-menu-toggle >
    <ion-button class="logo1" size="default" expand="block" color="medium" [routerLink]="['/login']"   >
     INGRESAR
      <ion-icon name="key-outline" slot="start"></ion-icon>
    </ion-button>
  </ion-menu-toggle>
    
    <ion-button class="logo1" size="default" expand="block" color="medium"  [routerLink]="['/registrarse']"  >
      REGISTRATE
      
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
    </ion-button>

    <ion-button class="logo1" size="default" expand="block" color="medium"  [routerLink]="['/invitado']"  >
     Invitado
     <ion-icon name="eye-sharp" slot="start"></ion-icon>
    </ion-button>



  
     
    <ion-button class="redes1" size="default" expand="block" color="black"  [routerLink]="['/autentication']"  >
         CONTACTANOS EN: 
    </ion-button>
        
    <div style="display: flex;" >
          <ion-fab-button color= "tertiary" href="https://www.facebook.com/APMI-asistente-de-equipos-CNC-104061762274413/?ref=pages_you_manage"><ion-icon name="logo-facebook" ></ion-icon></ion-fab-button>
          <ion-fab-button color="danger"  href="https://www.youtube.com/channel/UChqiAo0CE4q14945s5wynuQ"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
          <ion-fab-button color="success"  href="https://web.whatsapp.com/" ><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
          <ion-fab-button color="light"  href="https://mail.google.com/mail/u/0/?tab=km" ><ion-icon name="mail-sharp"></ion-icon></ion-fab-button>
    </div>
      
  </ion-content> 