.logo1{
    width: 230px;
    margin-left: 20px;
    margin-top: 150px;

}

.logo2{
    width: 230px;
    margin-left: 20px;
    margin-top: 5px;

}

.logo3{
    width: 150px;
    margin-left: 20px;
    margin-top: 5px;
}


.logo4{
    
    margin-left: 80px;
    margin-top: 0px;
}



.facebook1{
    width: 700px;
    margin-left: 15px;
    margin-top: 90px;
}
    

.redes{
    width: 300px;
    margin-left: 54px;
    margin-top: -50px;
}


ion-fab-button {
  margin: 19px;  
  color: white;  
}
.redes1{
    margin-top: 50px;
}