<ion-content>

  <ion-button shape="round" fill="outline"  [routerLink]="['/invitado']" class="bt2" color="warning">
    <ion-icon name="return-up-back-sharp" slot="start"> </ion-icon>
  </ion-button>


  <img [routerLink]="['/opciones']"  src="https://i.pinimg.com/564x/78/ec/c7/78ecc74aa9748d3defcb6419785d03a5.jpg">


  <div class="crono">
  <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/home']"  >
    Buscar Maquina
    <ion-icon name="search-sharp" slot="start"></ion-icon>
   </ion-button>
  
   <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/cronograma']"  >
   Buscar Seccion
   <ion-icon name="bug-sharp" slot="start"></ion-icon>
   </ion-button>
  </div>
</ion-content>
