
<ion-content>
<ion-button expand="block" [routerLink]="['/']" class="bt2" color="light">
  <ion-icon name="home-sharp"></ion-icon>
</ion-button>

  <img [routerLink]="['/']"  src="https://i.pinimg.com/564x/1c/93/41/1c9341a61d6cf3bcfb8cf52d75c6dfd6.jpg">

  <ion-button expand="block" [routerLink]="['/opciones']"  class="bt1" color="light">Entrar</ion-button>
<ion-item>
<ion-label>Correo: </ion-label>
<ion-input type="string" [(ngModel)]="correo"></ion-input>
<ion-input></ion-input>
</ion-item>

<ion-item>
<ion-label>Contraseña: </ion-label>
<ion-input type="password" minlength="6" [(ngModel)]="password"></ion-input>
</ion-item>




</ion-content>