
<ion-content>
<ion-button expand="block" [routerLink]="['/']" class="bt2" color="light">
  <ion-icon name="home-sharp"></ion-icon>
</ion-button>

  <img   src="assets/img/logo-login.png">

  <ion-button expand="block" (click)="login()"  class="bt1" color="light">Entrar</ion-button>
<ion-item>
<ion-label>Correo: </ion-label>
<ion-input type="string" [(ngModel)]="this.credenciales.correo"></ion-input>
<ion-input></ion-input>
</ion-item>

<ion-item>
<ion-label>Contraseña (6 numeros): </ion-label>
<ion-input type="password" minlength="6" [(ngModel)]="this.credenciales.password"></ion-input>
</ion-item>




</ion-content>