<ion-app>


    <ion-content>
  
    <ion-menu side="end" menuId="alterno" contentId="main">
      <ion-header>
        <ion-toolbar color="black">
          <ion-title >
            Information
            <ion-icon name="document-text-sharp"></ion-icon>
          </ion-title>
         
        </ion-toolbar>
      </ion-header>

        <ion-list >
          <ion-item>ADMINISTRADOR</ion-item>
          <ion-item>Nombres:</ion-item>
          <ion-item>ID:</ion-item>
          <ion-item>Correo:</ion-item>
        </ion-list>

    </ion-menu>
    
</ion-content>



    
    
    <ion-router-outlet id="main"></ion-router-outlet>
 





</ion-app>

