
  <ion-content>

    <ion-button shape="round" fill="outline"  [routerLink]="['/invitado']" class="bt2" color="warning">
      <ion-icon name="return-up-back-sharp" slot="start"> </ion-icon>
    </ion-button>

      <ion-card>

      <img src="https://www.homag.com/fileadmin/product/paneldividing/machines/panelsaw-SAWTEQ-B-500.jpg"/>
       <ion-card-title>
        <ion-card-content>
           SECCIONADORA PARA TABLEROS
        </ion-card-content>
      </ion-card-title>
      </ion-card>  

   
<ion-grid>
       <ion-row class="ion-justify-content-center">
        <ion-col  sizeXs="10"  sizeLg="4" class="redes" class="ion-text-center">
          <ion-card>
           <ion-card>
            <ion-item  >
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>Modelo: 2012</ion-label>
            </ion-item>
  
            <ion-item >
            <ion-icon name="golf" slot="start"></ion-icon>
             <ion-label>Seccion: Tableros</ion-label>
             </ion-item>
   
             <ion-item >
              <ion-icon name="warning" slot="start"></ion-icon>
               <ion-label>Codigo: 0200-PSDF</ion-label>
               </ion-item>
  
               <ion-item>
               <ion-icon name="walk" slot="start"></ion-icon>
               <ion-label>Ubicacion: Parque Industrial</ion-label>
               </ion-item>
             </ion-card>
           </ion-card>
         </ion-col>
      </ion-row>
</ion-grid> 
  
  <ion-grid>
  <ion-row class="ion-justify-content-center">
  <ion-col  sizeXs="10"  sizeLg="4" class="redes" class="ion-text-center">
      <ion-button class="lub" size="default" expand="block" color="dark"
      [routerLink]="['/lubricacion']"   >
      PUNTOS DE LUBRICACION 
       <ion-icon name="color-fill-outline" slot = "start"></ion-icon>
      </ion-button>
      </ion-col>
     </ion-row>

     <ion-row class="ion-justify-content-center" >
      <ion-col  sizeXs="10"  sizeLg="4" class="redes" class="ion-text-center">
      <ion-button class="lub" size="default" expand="block" color="dark"  [routerLink]="['/electronico']"  >
       MANTENIMIENTO ELECTRONICO
       <ion-icon name="flash-outline" slot = "start" ></ion-icon>
      </ion-button>
       </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" >
    <ion-col  sizeXs="10"  sizeLg="4" class="redes" class="ion-text-center">
       <ion-button class="lub" size="default" expand="block" color="dark"
       [routerLink]="['/neumatico']"   >
        MANTENIMIENTO NEUMATICO
        <ion-icon name="funnel-outline" slot = "start" ></ion-icon>
         </ion-button>
        </ion-col>
      </ion-row>
 
  
      <ion-row class="ion-justify-content-center" >
        <ion-col  sizeXs="10"  sizeLg="4" class="redes" class="ion-text-center">
      <ion-button class="lub" size="default" expand="block" color="dark"
      [routerLink]="['/hidraulico']"   >
      MANTENIMIENTO HIDRAULICO
      <ion-icon name="key-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" >
      <ion-col  sizeXs="10"  sizeLg="4" class="redes" class="ion-text-center">
    <ion-button class="lub" size="default" expand="block" color="dark"
    [routerLink]="['/mecanico']"   >
    MANTENIMIENTO MECANICO
    <ion-icon name="hammer-outline" slot="start"></ion-icon>
    </ion-button>
  </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
  
     