
<ion-content>

  <ion-button expand="block" [routerLink]="['/']" class="bt2" color="light">
    <ion-icon name="home-sharp"></ion-icon>
  </ion-button>


  <img [routerLink]="['/']"  src="https://i.pinimg.com/564x/da/44/a2/da44a298be861a23cebb050a9fb5ed14.jpg">


  <div style="display: flex;" class="div">
 
   <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/cronograma']"  >
    Cronogramas
    <ion-icon name="calendar-sharp" slot="start"></ion-icon>
   </ion-button>
  </div>

  
  <div style="display: flex;" class="div">
    <ion-button class="redes1" size="default" expand="block" color="ligth" [routerLink]="['/progreso']"  >
      Funcionamientos
      <ion-icon name="time-sharp" slot="start"></ion-icon>
     </ion-button>


    </div>

    <div style="display: flex;" class="div">
    <ion-button class="redes1" size="default" expand="block" color="ligth" [routerLink]="['/cupones']"  >
      Cupones
      <ion-icon name="time-sharp" slot="start"></ion-icon>
     </ion-button>


    </div>

    <ion-menu-toggle color="danger" >
      <ion-item *ngIf="rol=='admin' "[routerLink]="['/opciones']">
        <ion-label>Ver Opciones</ion-label>
      </ion-item>
   
  </ion-menu-toggle>
</ion-content>